/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

body {
    /*background-color: #f4f4f4;*/
    background-color: #f6fafe;
    color: #333;
    line-height: 1.8;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 70px;
    /*background: #2c3e50;*/
    background: url('l.jpg') no-repeat center center/cover;
    color: white;
    border-radius: 10px;
    height: 350px;
    gap: 30px;
    flex-wrap: nowrap;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.profile-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 20px;
}

.profile-text {
    text-align: left;
    font-size: 24px;
    max-width: none;
    white-space: nowrap;
}

.education-banner {
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
    text-align: right;
    line-height: 1.6;
}

.contact-icons {
    margin-top: 10px;
    display : flex;
    gap: 20px;

}

.contact-icons a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.about, .skills, .education, .experience, .projects, .publications, .hobbies, .contact {
    background: white;
    padding: 40px;
    margin: 20px auto;
    max-width: 1500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.50em;
}

h3 {
    color: #2c3e50;
    font-size: 1.25em;
}


